/* src/styles/ProductList.css */
.product-list-container {
    padding: 20px;
    margin-top: 60px; /* Asegúrate de que el contenido no esté oculto detrás de la barra de navegación */
    background-color: #f9f9f9;
}

.product-list-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-list-container ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta las columnas */
    gap: 20px; /* Espacio entre los ítems */
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-list-container .item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-list-container .item h3 {
    margin: 0 0 10px 0;
}

.product-list-container .item p {
    margin: 5px 0;
}
